@model CapetropolisTourism.Models.BookingModel
@{
    ViewData["Title"] = "Hotels";
}

<div class="text-center">
    <h1 class="display-4">Form Submitted</h1>
    <p>Thank you for your booking submission.</p>
    <p>Your booking Id is: <b> @Model.Id </b> </p>
</div>