@model CapetropolisTourism.Models.HotelModel
@{
    ViewData["Title"] = "Hotels";
}

<div class="text-center">
    <!-- display name value from controller -->
    <h1 class="display-4">@Model.name</h1>
</div>
